# Lab One: Exploring Table Data
Team: Jack Babcock, Hayden Center, Fidelia Navar, Amory Weinzierl

### Assignment Description
You are to perform preprocessing and exploratory analysis of a data set: exploring the statistical summaries of the features, visualizing the attributes, and addressing data quality. This report is worth 10% of the final grade. Please upload a report (one per team) with all code used, visualizations, and text in a rendered Jupyter notebook. Any visualizations that cannot be embedded in the notebook, please provide screenshots of the output.

Additional information and requirements can be found at https://smu.instructure.com/courses/81978/assignments/465788

## Part I -  Business Understanding

The data set (which can be found at https://www.kaggle.com/fedesoriano/stroke-prediction-dataset) that we have chosen to utilize for this lab consists of data that may be used to identify whether or not an individual is at risk for strokes.

## Part II - Data Understanding

### Data Description

#### Importing

In [1]:
import numpy as np
import pandas as pd

print('Pandas:', pd.__version__)
print('Numpy:',  np.__version__)

df = pd.read_csv('healthcare-dataset-stroke-data.csv')

df.head()

Pandas: 1.2.1
Numpy: 1.19.2

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

#### Formatting

To clean up the data a little bit, we're going to normalize the values of the non-numeric columns to have the same format by setting all values to lowercase and replacing spaces with underscores.

In [2]:
for c in df.columns:
    if df[c].dtype == 'object':
        df[c] = df[c].str.lower()
        
df = df.replace(' ', '_', regex=True)
        
for c in df.columns:
    if df[c].dtype == 'object':
        print(df[c].unique())

['male' 'female' 'other']
['yes' 'no']
['private' 'self-employed' 'govt_job' 'children' 'never_worked']
['urban' 'rural']
['formerly_smoked' 'never_smoked' 'smokes' 'unknown']

All of the columns look good except for the smoking_status column. One of the values in that column is listed as 'unknown'. Though this is technically a value, what it is actually representing is missing information, so let's make that more clear.

In [3]:
df.smoking_status.mask(df.smoking_status == 'unknown', pd.NA, inplace=True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     3566 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB
None

Some of the categorical columns should be converted into numerical columns. Specifically the ever_married column should be converted into a binary column similar to the hypertension, heart_disease, and stroke columns, and the smoking_status column should be converted into an ordinal. We think this is a meaningful change because there is a very clear way to assign an order to the values: never_smoked is 0, formerly_smoked is 1 since it is worse for your health, and finally smokes is 2, since it is worse than formerly_smoked.

In [21]:
df.smoking_status.replace(to_replace= ['never_smoked', 'formerly_smoked', 'smokes'], value = [0, 1, 2], inplace=True)

There is only one entry in the 5110 entries that put their gender as other. For no other reason than convenience while sorting by gender, we decided to remove that data point.

In [22]:
df.drop(df[df.gender == 'other'].index, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5109 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5109 non-null   int64
 1   gender             5109 non-null   object
 2   age                5109 non-null   float64
 3   hypertension       5109 non-null   int64
 4   heart_disease      5109 non-null   int64
 5   ever_married       5109 non-null   object
 6   work_type          5109 non-null   object
 7   residence_type     5109 non-null   object
 8   avg_glucose_level  5109 non-null   float64
 9   bmi                4908 non-null   float64
 10  smoking_status     3565 non-null   object
 11  stroke             5109 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 647.9+ KB

Note: The data type of smoking_status is float64 when it should be int64 because it has NA values in it and Pandas changes the type to float64 when that is the case.

Lets create a table to describe all the attributes.

In [39]:
desc_table = pd.DataFrame()
desc_table["Attributes"] = df.columns
desc_table["Description"] = ["Random ID number",
                             "Gender of person",
                             "Age of person in years",
                             "Whether they have hypertension or not",
                             "Whether they have a heart disease or not",
                             "Whether they have ever been married or not",
                             "The category of their occupation",
                             "Whether they live in a Urban or Rural environment",
                             "The average blood sugar level of the person",
                             "The person's Body Mass Index",
                             "The person's level of smoking history",
                             "Whether they have had a stroke or not"
                            ]
desc_table["Scales"] = ["Nominal",
                        "Nominal",
                        "Ratio",
                        "Nominal",
                        "Nominal",
                        "Nominal",
                        "Nominal",
                        "Nominal",
                        "Ratio",
                        "Ratio",
                        "Ordinal",
                        "Nominal"
                       ]
desc_table["Continuous/Discrete"] = ["Discrete",
                                     "Discrete",
                                     "Continuous",
                                     "Discrete",
                                     "Discrete",
                                     "Discrete",
                                     "Discrete",
                                     "Discrete",
                                     "Continuous",
                                     "Continuous",
                                     "Discrete",
                                     "Discrete"
                                    ]
desc_table["Range"] = ["67-72940",
                       "male, female",
                       "0.08 - 82.0",
                       "0: True - 1: False",
                       "0: True - 1: False",
                       "0: True - 1: False",
                       "private, self-employed, govt_job, children, never_worked",
                       "Urban, Rural",
                       "55.12 - 271.74",
                       "10.3 - 97.6",
                       "0: never_smoked, 1: formerly_smoked, 2: smokes",
                       "0: True - 1: False"
                      ]
desc_table

,Attributes,Description,Scales,Continuous/Discrete,Range
0,id,Random ID number,Nominal,Discrete,67-72940
1,gender,Gender of person,Nominal,Discrete,"male, female"
2,age,Age of person in years,Ratio,Continuous,0.08 - 82.0
3,hypertension,Whether they had hypertension or not,Nominal,Discrete,0: True - 1: False
4,heart_disease,Whether they have a heart disease or not,Nominal,Discrete,0: True - 1: False
5,ever_married,Whether they have ever been married or not,Nominal,Discrete,0: True - 1: False
6,work_type,The category of their occupation,Nominal,Discrete,"private, self-employed, govt_job, children, ne..."
7,residence_type,Whether they live in a Urban or Rural environment,Nominal,Discrete,"Urban, Rural"
8,avg_glucose_level,The average blood sugar level of the person,Ratio,Continuous,55.12 - 271.74
9,bmi,The person's Body Mass Index,Ratio,Continuous,10.3 - 97.6
10,smoking_status,The person's level of smoking history,Ordinal,Discrete,"0: never_smoked, 1: formerly_smoked, 2: smokes"
11,stroke,Whether they have had a stroke or not,Nominal,Discrete,0: True - 1: False

In [37]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5109.000000,5109.000000,5109.000000,5109.000000,5109.000000,4908.00000,5109.000000
mean,36513.985516,43.229986,0.097475,0.054022,106.140399,28.89456,0.048738
std,21162.008804,22.613575,0.296633,0.226084,45.285004,7.85432,0.215340
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.30000,0.000000
25%,17740.000000,25.000000,0.000000,0.000000,77.240000,23.50000,0.000000
50%,36922.000000,45.000000,0.000000,0.000000,91.880000,28.10000,0.000000
75%,54643.000000,61.000000,0.000000,0.000000,114.090000,33.10000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.60000,1.000000

### Data Quality

#### Duplicate Values

The first thing we'll want to do to check the quality of the data is to check for duplicates. First, let's make sure there are no duplicate IDs in the dataset.

In [ ]:
if df.id.unique().size == df.id.size:
    print("No duplicate IDs")

Now that we know there are no duplicate IDs, let's check if there are any rows with identical values (excluding the ID).

In [ ]:
cols = df.columns.drop('id')

s = df.duplicated(subset=cols, keep='first')

s[s]

Seems like the dataset has no exact duplicates. We feel safe assuming that, finding no exact duplicates, each entry in the dataset is unique.

#### Missing Values

The second thing to check the dataset for is missing values. We can see them by checking df.info().

In [ ]:
df.info()

Now we can see how much data is really missing from this dataset. We have over 1500 missing datapoints from the smoking_status column. Now let's take a look at both of the columns with missing data and see if we want to impute or delete them.

In [ ]:
from sklearn.impute import KNNImputer
import copy

knn = KNNImputer(n_neighbors=3)

temp = df[[
    'age',
    'hypertension',
    'heart_disease',
    'avg_glucose_level',
    'bmi',
    'stroke'
]].to_numpy()

temp_imputed = knn.fit_transform(temp)

df_imputed = copy.deepcopy(df)
df_imputed[[
    'age',
    'hypertension',
    'heart_disease',
    'avg_glucose_level',
    'bmi',
    'stroke'
]] = temp_imputed
# df_imputed.info()

df_imputed.bmi = df_imputed.bmi.apply(lambda x: round(x, 1))

print(df_imputed.count())

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore', DeprecationWarning)
%matplotlib inline 

df_imputed.bmi.plot(kind='hist', alpha=0.5, label="imputed",bins=100)
df.bmi.plot(kind='hist', alpha=0.5, label="original",bins=100)
plt.legend()
plt.show()

## Part III - Data Visualization

## Part IV - Exceptional Work